<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    body{
        background-color: lightcyan;
    }
    h1{
        color: lightgrey;
        text-align: center;
    }
    p{
        font-family: cursive;
        font-size: 40px;
    }
    </style>
</head>
<body>

    <h1>Face of Nepal</h1><br>
    Face of Nepal is a Web Application based on Django wireframe which provides detail description of Nepal to the people. Our application includes photos, videos, blogs, different travel package, and also provides tourist guide to required one. Tourist guides works as freelancer and can provide service as their wish. We believe this feature helps student and other people who love travelling and have knowledge of specific place who wants to share with others. Our application also provides different travelling package and any one can choose their package according to their need. Our aim to develop this application is to promote tourism in Nepal, helps tourist to visit and enjoy Nepal with full knowledge about that place and also people who wants to earn extra money by doing freelancing.<br>
    <br>
    <br>
    <img src="F:/DJANGO/images.jpg" alt="Nepal">

</body>

</html>